<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>
    <script src="/layer/jquery-3.4.1.min.js"></script>
    <title>项目历史记录</title>
    <style>
        body{
            font-size:14px;
        }
        .d-bulk{
            margin-top:20px;
        }
        .d-title{
            font-size:16px;
        }
        .b-font{
            background-color: #003654;
            color:white;
        }
        .d-content{
            margin-top:10px;
        }
        .d-line{
            margin-bottom:5px;
        }

        input,select{
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 3px;
            width: 300px;
            font-size: 14px;
            font-weight: 700;
            font-family: "Microsoft soft";
        }

        .s-wid{
            width:308px;
        }

        .ele-right{
            margin-left:20px;
        }
        .ele-l{
            width:120px;
            display: inline-block;
            text-align: right;
        }
        .button1 {
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            padding: 3px 12px;
            text-align: center;
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
            border-radius:5px;
        }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }

        .btn-margin{
            margin-right:10px;
        }

        .d-btn{
            width:1000px;
            padding-top:30px;
            padding-bottom:10px;
            border-top:1px dotted #785;
            border-bottom:1px solid #aaa;
            text-align: center;
        }

        .p-history {
            margin-left: 30px;
            margin-right: 100px;
        }
    </style>
</head>

<body>
<div class="d-bulk">
    <div class="d-title"><span class="b-font">§ 项目信息</span></div>
    <div class="d-content">
        <div class="d-line">
            <div ><label class="ele-l">项目编号:</label><input type="text" id="code" th:value="${code}" disabled="disabled" />
               <label class="ele-l">项目下达时间:</label><input type="date" id="start_time" th:value="${startTime}" disabled="disabled" /></div>
        </div>
        <div class="d-line">
            <div class=""><label class="ele-l">项目名称:</label><input type="text" id="name" th:value="${name}" disabled="disabled"/>
              <label class="ele-l">要求完成时间:</label><input type="date" id="end_time" th:value="${endTime}" disabled="disabled"/></div>
        </div>
        <div class="d-line">
            <div class=""><label class="ele-l" >型号:</label><input type="text" id="model" th:value="${model}" disabled="disabled"/>
              <label class="ele-l">关注度:</label><select name="concern_level" id="concern_level" class="s-wid" th:value="${concernLevel}" disabled="disabled">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select></div>
        </div>
        <div class="d-line"><label class="ele-l" >项目负责人:</label><input type="text" id="charge_man" th:value="${chargeMan}" disabled="disabled" /></div>
        <div class="d-line"><label class="ele-l">项目组成员:</label><input type="text" id="members" th:value="${members}" disabled="disabled" style="width:1000px;"/></div>
        <div class="d-line"><label class="ele-l">修改历史:</label><p  id="info_history" class="p-history"> </p></div>
    </div>
</div>

<div class="d-bulk">
    <div class="d-title"><span class="b-font">§ 项目进程方案</span></div>
    <div class="d-content">
        <div class=""> <label class="ele-l">预计完成时间:</label><input type="date" id="scheme_time" th:value="${schemeTime}" disabled="disabled"/>
          <label class="ele-l">节点负责人:</label><input type="text" id="scheme_man" th:value="${schemeMan}" disabled="disabled"/></div>
    </div>
    <div class="d-content">
        <div > <label class="ele-l">实际完成时间:</label><input type="date" id="scheme_real_time" th:value="${schemeRealTime}" disabled="disabled"/> </div>
    </div>
    <div class="d-content"><label class="ele-l">修改历史:</label><p  id="scheme_history" class="p-history"> </p></div>
</div>
<div class="d-bulk">
    <div class="d-title"><span class="b-font">§ 手板/开模</span></div>
    <div class="d-content">
        <div class=""> <label class="ele-l">预计完成时间:</label><input type="date" id="phone_time" th:value="${phoneTime}" disabled="disabled"/>
          <label class="ele-l">节点负责人:</label><input type="text" id="phone_man" th:value="${phoneMan}" disabled="disabled"/></div>
    </div>
    <div class="d-content">
        <div class=""> <label class="ele-l">实际完成时间:</label><input type="date" id="phone_real_time" th:value="${phoneRealTime}" disabled="disabled"/> </div>
    </div>
    <div class="d-content"><label class="ele-l">修改历史:</label><p  id="phone_history" class="p-history"> </p></div>
</div>
<div class="d-bulk">
    <div class="d-title"><span class="b-font">§ 样机</span></div>
    <div class="d-content">
        <div class=""> <label class="ele-l">预计完成时间:</label><input type="date" id="prototype_time" th:value="${prototypeTime}" disabled="disabled"/>
           <label class="ele-l">节点负责人:</label><input type="text" id="prototype_man" th:value="${prototypeMan}" disabled="disabled"/></div>
    </div>
    <div class="d-content">
        <div class="d-block"> <label class="ele-l">实际完成时间:</label><input type="date" id="prototype_real_time" th:value="${prototypeRealTime}" disabled="disabled"/> </div>
    </div>
    <div class="d-content"><label class="ele-l">修改历史:</label><p  id="prototype_history" class="p-history"> </p></div>
</div>
<div class="d-bulk">
    <div class="d-title"><span class="b-font">§ 测试</span></div>
    <div class="d-content">
        <div class=""> <label class="ele-l">预计完成时间:</label><input type="date" id="test_time" th:value="${testTime}" disabled="disabled" />
           <label class="ele-l">节点负责人:</label><input type="text" id="test_man" th:value="${testMan}" disabled="disabled"/></div>
    </div>
    <div class="d-content">
        <div class="d-block"> <label class="ele-l">实际完成时间:</label><input type="date" id="test_real_time" th:value="${testRealTime}" disabled="disabled" /> </div>
    </div>
    <div class="d-content"><label class="ele-l">修改历史:</label><p  id="test_history" class="p-history"> </p></div>
</div>
<div class="d-bulk">
    <div class="d-title"><span class="b-font">§ 资料发布</span></div>
    <div class="d-content">
        <div class=""> <label class="ele-l">预计完成时间:</label><input type="date" id="publish_time" th:value="${publishTime}" disabled="disabled" />
           <label class="ele-l">节点负责人:</label><input type="text" id="publish_man" th:value="${publishMan}" disabled="disabled"/></div>
    </div>
    <div class="d-content">
        <div class="d-block"> <label class="ele-l">实际完成时间:</label><input type="date" id="publish_real_time" th:value="${publishRealTime}" disabled="disabled"/> </div>
    </div>
    <div class="d-content"><label class="ele-l">修改历史:</label><p  id="publish_history" class="p-history"> </p></div>
</div>

<div class="d-bulk d-btn">
    <button class="button1 btn-margin" id="b-cancel">返回</button>
</div>

<script>
    $(function() {
        renderHistory();
        var concernLevel = $("#concern_level").attr("value");
        $("#concern_level").find("option[value='"+concernLevel+"']").attr("selected",true);

        $("#b-cancel").click(function () {
            window.location.href = "/pro/item";
        });
    });

    function renderHistory(){
        var code = $("#code").val();
        $.ajax({
            url: "/pro/item/historyList",
            type: "GET",
            data: {code:code},
            success: function (result) {
                if(null!=result) {
                    renderInfoHistory(result);
                    renderSchemeHistory(result);
                    renderPhoneHistory(result);
                    renderPrototypeHistory(result);
                    renderTestHistory(result);
                    renderPublishHistory(result);
                }
            }
        });
    }

    /*
     * 渲染项目基本信息的修改历史
     */
    function renderInfoHistory(result){
        var index=1;
        var texts = (index++)+". "+result[0].modTime+" 创建<br>";
        var curName = result[0].name;
        var curModel = result[0].model;
        var curChargeMan =  result[0].chargeMan;
        var curMembers = result[0].members;
        var curStartTime = result[0].startTime;
        var curEndTime = result[0].endTime;
        var curConcernLevel = result[0].concernLevel;
        var curContent = result[0].content;
        for(var i=1;i<result.length;i++){
            var modItems = "";
            if(result[i].name!=curName){
                modItems += "变更项目名称:"+curName+" -> "+result[i].name+",";
                curName = result[i].name;
            }
            if(result[i].model!=curModel){
                modItems += "变更型号:"+curModel+" -> "+result[i].model+",";
                curModel = result[i].model;
            }
            if(result[i].chargeMan!=curChargeMan){
                modItems += "变更项目负责人:"+curChargeMan+" -> "+result[i].chargeMan+",";
                curChargeMan = result[i].chargeMan;
            }
            if(result[i].members!=curMembers){
                modItems += "变更项目组成员:"+curMembers+" -> "+result[i].members+",";
                curMembers = result[i].members;
            }
            if(result[i].members!=curMembers){
                modItems += "变更项目组成员:"+curMembers+" -> "+result[i].members+",";
                curMembers = result[i].members;
            }
            if(result[i].startTime!=curStartTime){
                modItems += "变更项目下达时间:"+curStartTime+" -> "+result[i].startTime+",";
                curStartTime = result[i].startTime;
            }
            if(result[i].endTime!=curEndTime){
                modItems += "变更要求完成时间:"+curEndTime+" -> "+result[i].endTime+",";
                curEndTime = result[i].endTime;
            }
            if(result[i].concernLevel!=curConcernLevel){
                modItems += "变更关注度:"+curConcernLevel+" -> "+result[i].concernLevel+",";
                curConcernLevel = result[i].concernLevel;
            }
            if(result[i].content!=curContent){
                modItems += "变更工作内容:"+curContent+" -> "+result[i].content+",";
                curContent = result[i].content;
            }
            if(""!=modItems){
                var reasonText = "";
                if(null!=result[i].reason && ""!=result[i].reason.trim()){
                    reasonText = "变更原因:" + result[i].reason;
                }
                texts += (index++) + ". " + result[i].modTime + " " + modItems + "变更原因:" + reasonText + "<br>";
            }
        }
        $("#info_history").html(texts);
    }

    /*
     * 渲染方案信息的修改历史
     */
    function renderSchemeHistory(result){
        var index=1;
        var texts = (index++)+". "+result[0].modTime+" 创建<br>";
        var curSchemeTime = result[0].schemeTime;
        var curSchemeMan = result[0].schemeMan;
        var curSchemeRealTime =  result[0].schemeRealTime;
        var curSchemeProgress = result[0].schemeProgress;
        for(var i=1;i<result.length;i++){
            var modItems = "";
            if(result[i].schemeTime!=curSchemeTime){
                modItems += "变更项目预计完成时间:"+curSchemeTime+" -> "+result[i].schemeTime+",";
                curSchemeTime = result[i].schemeTime;
            }
            if(result[i].schemeMan!=curSchemeMan){
                modItems += "变更节点负责人:"+curSchemeMan+" -> "+result[i].schemeMan+",";
                curSchemeMan = result[i].schemeMan;
            }
            if(result[i].schemeRealTime!=curSchemeRealTime){
                modItems += "登记实际完成时间:"+curSchemeRealTime+" -> "+result[i].schemeRealTime+",";
                curSchemeRealTime = result[i].schemeRealTime;
            }
            if(result[i].schemeProgress!=curSchemeProgress){
                modItems += "登记进度说明:"+curSchemeProgress+" -> "+result[i].schemeProgress+",";
                curSchemeProgress = result[i].schemeProgress;
            }
            if(""!=modItems){
                var reasonText = "";
                if(null!=result[i].reason && ""!=result[i].reason.trim()){
                    reasonText = "变更原因:" + result[i].reason;
                }
                texts += (index++) + ". " + result[i].modTime + " " + modItems + reasonText + "<br>";
            }
        }
        $("#scheme_history").html(texts);
    }

    /*
     * 渲染手机/开模信息的修改历史
     */
    function renderPhoneHistory(result){
        var index=1;
        var texts = (index++)+". "+result[0].modTime+" 创建<br>";
        var curPhoneTime = result[0].phoneTime;
        var curPhoneMan = result[0].phoneMan;
        var curPhoneRealTime =  result[0].phoneRealTime;
        var curPhoneProgress = result[0].phoneProgress;
        for(var i=1;i<result.length;i++){
            var modItems = "";
            if(result[i].phoneTime!=curPhoneTime){
                modItems += "变更项目预计完成时间:"+curPhoneTime+" -> "+result[i].phoneTime+",";
                curPhoneTime = result[i].phoneTime;
            }
            if(result[i].phoneMan!=curPhoneMan){
                modItems += "变更节点负责人:"+curPhoneMan+" -> "+result[i].phoneMan+",";
                curPhoneMan = result[i].phoneMan;
            }
            if(result[i].phoneRealTime!=curPhoneRealTime){
                modItems += "登记实际完成时间:"+curPhoneRealTime+" -> "+result[i].phoneRealTime+",";
                curPhoneRealTime = result[i].phoneRealTime;
            }
            if(result[i].phoneProgress!=curPhoneProgress){
                modItems += "登记进度说明:"+curPhoneProgress+" -> "+result[i].phoneProgress+",";
                curPhoneProgress = result[i].phoneProgress;
            }
            if(""!=modItems){
                var reasonText = "";
                if(null!=result[i].reason && ""!=result[i].reason.trim()){
                    reasonText = "变更原因:" + result[i].reason;
                }
                texts += (index++) + ". " + result[i].modTime + " " + modItems + reasonText + "<br>";
            }
        }
        $("#phone_history").html(texts);
    }

    /*
     * 渲染样机信息的修改历史
     */
    function renderPrototypeHistory(result){
        var index=1;
        var texts = (index++)+". "+result[0].modTime+" 创建<br>";
        var curPrototypeTime = result[0].prototypeTime;
        var curPrototypeMan = result[0].prototypeMan;
        var curPrototypeRealTime =  result[0].prototypeRealTime;
        var curPrototypeProgress = result[0].prototypeProgress;
        for(var i=1;i<result.length;i++){
            var modItems = "";
            if(result[i].prototypeTime!=curPrototypeTime){
                modItems += "变更项目预计完成时间:"+curPrototypeTime+" -> "+result[i].prototypeTime+",";
                curPrototypeTime = result[i].prototypeTime;
            }
            if(result[i].prototypeMan!=curPrototypeMan){
                modItems += "变更节点负责人:"+curPrototypeMan+" -> "+result[i].prototypeMan+",";
                curPrototypeMan = result[i].prototypeMan;
            }
            if(result[i].prototypeRealTime!=curPrototypeRealTime){
                modItems += "登记实际完成时间:"+curPrototypeRealTime+" -> "+result[i].prototypeRealTime+",";
                curPrototypeRealTime = result[i].prototypeRealTime;
            }
            if(result[i].prototypeProgress!=curPrototypeProgress){
                modItems += "登记进度说明:"+curPrototypeProgress+" -> "+result[i].prototypeProgress+",";
                curPrototypeProgress = result[i].prototypeProgress;
            }
            if(""!=modItems){
                var reasonText = "";
                if(null!=result[i].reason && ""!=result[i].reason.trim()){
                    reasonText = "变更原因:" + result[i].reason;
                }
                texts += (index++) + ". " + result[i].modTime + " " + modItems  + reasonText + "<br>";
            }
        }
        $("#prototype_history").html(texts);
    }

    /*
     * 渲染测试信息的修改历史
     */
    function renderTestHistory(result){
        var index=1;
        var texts = (index++)+". "+result[0].modTime+" 创建<br>";
        var curTestTime = result[0].testTime;
        var curTestMan = result[0].testMan;
        var curTestRealTime =  result[0].testRealTime;
        var curTestProgress = result[0].testProgress;
        for(var i=1;i<result.length;i++){
            var modItems = "";
            if(result[i].testTime!=curTestTime){
                modItems += "变更项目预计完成时间:"+curTestTime+" -> "+result[i].testTime+",";
                curTestTime = result[i].testTime;
            }
            if(result[i].testMan!=curTestMan){
                modItems += "变更节点负责人:"+curTestMan+" -> "+result[i].testMan+",";
                curTestMan = result[i].testMan;
            }
            if(result[i].testRealTime!=curTestRealTime){
                modItems += "登记实际完成时间:"+curTestRealTime+" -> "+result[i].testRealTime+",";
                curTestRealTime = result[i].testRealTime;
            }
            if(result[i].testProgress!=curTestProgress){
                modItems += "登记进度说明:"+curTestProgress+" -> "+result[i].testProgress+",";
                curTestProgress = result[i].testProgress;
            }
            if(""!=modItems){
                var reasonText = "";
                if(null!=result[i].reason && ""!=result[i].reason.trim()){
                    reasonText = "变更原因:" + result[i].reason;
                }
                texts += (index++) + ". " + result[i].modTime + " " + modItems + reasonText + "<br>";
            }
        }
        $("#test_history").html(texts);
    }

    /*
     * 渲染资料发布信息的修改历史
     */
    function renderPublishHistory(result){
        var index=1;
        var texts = (index++)+". "+result[0].modTime+" 创建<br>";
        var curPublishTime = result[0].publishTime;
        var curPublishMan = result[0].publishMan;
        var curPublishRealTime =  result[0].publishRealTime;
        var curPublishProgress = result[0].publishProgress;
        for(var i=1;i<result.length;i++){
            var modItems = "";
            if(result[i].publishTime!=curPublishTime){
                modItems += "变更项目预计完成时间:"+curPublishTime+" -> "+result[i].publishTime+",";
                curPublishTime = result[i].publishTime;
            }
            if(result[i].publishMan!=curPublishMan){
                modItems += "变更节点负责人:"+curPublishMan+" -> "+result[i].publishMan+",";
                curPublishMan = result[i].publishMan;
            }
            if(result[i].publishRealTime!=curPublishRealTime){
                modItems += "登记实际完成时间:"+curPublishRealTime+" -> "+result[i].publishRealTime+",";
                curPublishRealTime = result[i].publishRealTime;
            }
            if(result[i].publishProgress!=curPublishProgress){
                modItems += "登记进度说明:"+curPublishProgress+" -> "+result[i].publishProgress+",";
                curPublishProgress = result[i].publishProgress;
            }
            if(""!=modItems){
                var reasonText = "";
                if(null!=result[i].reason && ""!=result[i].reason.trim()){
                    reasonText = "变更原因:" + result[i].reason;
                }
                texts += (index++) + ". " + result[i].modTime + " " + modItems + reasonText + "<br>";
            }
        }
        $("#publish_history").html(texts);
    }

</script>

</body>
</html>